
body{
	background-color: lightblue;
}

h1 {
	text-align: center;
	font-size: 50px;
    font-family: "Georgia", serif;
}

h2{
	font-family: "Georgia", serif;
}

nav {
	text-align: center;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	padding: 5px;
	font-size: 30px;
}

nav ul li:hover {
	background-color: #DAB1DA;
}

main {
	background-color: mediumaquamarine;
	border: 5px solid black;
	width: 900px;
	padding: 25px;
	margin: auto;
}

main img {
	margin-top: -20px;
	margin-left: 200px;
	width: 100px;
	height: auto;
	float: left;
	padding: 10px;
}

main div {
	border: 2px solid black;
	margin-left: 30px;
	margin-top: 50px;
	padding: 20px;
	width: 500px;
	height: 300px;
	background-color: lightpink;
}

main div h3 {
	text-align: center;
}

.no_aside_div {
	margin: auto;
	margin-top: 50px;
}

table {
	margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

.no_aside_div p {
	margin: 0px;
}

.no_aside_div li {
	padding: 5px;
}

#inbox_div p {
	margin: 20px;
}

#mail {
	margin-top: -10px;
}


main button {
	text-align: center;
	float: center;
	margin: 30px;
	width: 200px;
	height: 50px;
}

main aside button:hover {
	background-color: lightgoldenrodyellow;
}

main aside{
	text-align: center;
	float: right;
	width: 30%;
	height: 375px;
	padding: 5px;
}


main aside div{
	background-color: lightcoral;
	text-align: center;
	float: center;
	width: 70%;
	border: 2px solid black;
	height: 200px;
	margin-top: -10px;
	margin-left: 20px;

}

article {
	background-color: mediumaquamarine;
	margin-left: 125px;
	text-align: center;
	border: 5px solid black;
	width: 570px;
	padding: 25px;
}

section {
	border: 2px solid black;
	margin: 10px;
	padding: 20px;
	width: 500px;
	height: 75px;
	text-align: center;
}


section img {
	margin-top: -20px;
	width: 100px;
	height: auto;
	float: left;
	padding: 10px;
}

#architecture {
	width: 85px;
	height: auto;
	margin-left: 10px;
}

#home_aside {
	background-color: lightcoral;
	text-align: center;
	float: right;
	width: 30%;
	padding-left: 15px;
	margin-right: 125px;
	border: 2px solid black;
	height: 500px;
}

#home_aside h2 {
	font-size: 30px;
	margin-bottom: 20px;
}

#tips_list {
	padding: 20px;
	text-align: left;
	margin-bottom: 50px;
	margin-left: 20px;
	font-size: 25px;
}

#more_resources {
	width: 300px;
	float: right;
	padding: 15px;
	margin: 20px;
	text-align: center;
	margin-right: 50px;
}

#more_resources:hover {
	background-color: lightblue;
	color: white;
}

footer{
	margin-top: 30px;
}

footer p {
	font-size: 10px;
	text-align: center;
	margin: 0px;
}


